h1 {
    text-align: center;
}
.Pizza {
    border: 2px solid grey;
    width: 50em;
    padding: 2em;
    border-radius: 1em;
    background-color: blue;
    margin: 1em;
    text-align: center;
}
@media (min-width: 960px){
.Pizzas {
    display: flex;
 }
 body {
     background-color: aqua;
 }
}
.footer {
    border: 2px solid grey;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    left: 0;
    bottom: 0;
    background-color: brown;
    color: black;
}
.address {
    text-align: right;

}